.loginbox {
	display : flex;
	flex-direction : column; 
	gap : 1rem;
	width :20rem;
	top:50%;
	left:50%;
	position:fixed;
	transform : translate(-50%,-50%); 
}

.navbar {
	display : flex;
	flex-direction : row;
	justify-content : space-between; 
}
